<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

  <!-- My css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <title>Restfull API</title>
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding: 1%;">
    <ul class="nav justify-content-center">
      <a class="corlink nav-item nav-link" href="/">Home</a>
      <a class="corlink nav-item nav-link" href="/apidocs">API Docs</a>
      <a class="corlink nav-item nav-link" href="/artigos">Artigos</a>
    </ul>
  </nav>