<%- include('partials/header');  %>

<div class="container" style="padding-top: 50px; justify-content: center;">

    <h3>WIKI API - NodeJS RESTFUL API</h3>
    <p>Esta API foi criada com base no conceito de RESTful API. <br />
        Utilizo o NoSQL <a href="https://www.mongodb.com/">mongoDB</a> pois possui uma escalabilidade maior de dados. <br />
        Para mais informações, acesse a <a href="/apidocs">documentação</a>.
    </p>
    <br />

</div>


<%- include('partials/footer');  %>