<%- include('./layouts/header'); -%>

    <main class="container mt-5 text-center">
        <h1 class="text-center">Documentation</h1>

        <p>Write the documentation ...</p>

    </main>


    <%- include('./layouts/footer'); -%>