<%- include('./layouts/header'); -%>

    <main class="container mt-5 text-center">

        <div class="card mt-5">
            <h1 class="">Wiki RESTful API</h1>
            <p>Wiki for test RESP API KNOWLEDGE</p>

            <hr />
                <h3 class="mt-2">Tecnologies</h3>
            <hr />

            <li>
                RESTful API Concept
            </li>
            <li>
                Express
            </li>
            <li>
                EJS
            </li>
            <li>
                Body-parser
            </li>
        </div>
    </main>


    <%- include('./layouts/footer'); -%>